@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-red-dark: #b91c1c;
	--color-red-light: #ef4444;
	--color-gray-light: #f3f4f6;
	--color-white-primary: #ffffff;
	--color-black-primary: #111827;

}
