@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-red-dark: #b91c1c;
	--color-red-light: #ef4444;
	--color-gray-light: #f3f4f6;
	--color-white-primary: #ffffff;
	--color-black-primary: #111827;

	--spacing: 0.25cqw;
	--text-w1: 0.25cqw;
	--text-w2: 0.5cqw;
	--text-w3: 0.75cqw;
	--text-w4: 1cqw;
	--text-w5: 1.25cqw;
	--text-w6: 1.5cqw;
	--text-w7: 1.75cqw;
	--text-w8: 2cqw;
	--text-w9: 2.25cqw;
	--text-w10: 2.5cqw;
	--text-w11: 2.75cqw;

	--spacing-main: 4cqw
}

p {
	@apply leading-tight;
}
